html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#fafafa, #8e8e97);
  display: flex;
  justify-content: center;
  align-items: center;
}

#controller {
  z-index: 666;
  position: fixed;
  min-width: 360px;
  right: 25px;
  bottom: 25px;
  padding: 20px;
  background-color: rgb(0,0,0,0.08);
  text-align: center;
  border: 0px;
  border-radius: 10px;
}

#output {
  z-index: 666;
  text-align: center;
  padding-bottom: 30px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
  font-size: smaller;
}

#choices {
  display: flex;
  justify-content: center;
}

#winner {
  font-size: xx-large;
  font-weight: bolder;
}

#result {
  font-size: smaller;
}

.click_me {
  margin: 10px;
  padding: 10px 14px;
  /* border: 1px solid black; */
  border: none;
  border-radius: 4px;
  background-color: rgb(255,255,255,0.4);
  font-size: large;
}

.click_me:hover {
  background-color: #ff3b3b;
}

#stats, .stat-item {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  font-size: smaller;
}

#reset {
  margin-top: 5px;
  padding: 8px 14px;
  border: 1px solid black;
  background: none;
  border-radius: 4px;
}

#reset:hover {
  background-color: #ff3b3b;
}

#reset:active {
  border: 1px solid black;
  background: none;
}

.leaderScore {
  background-color: rgb(255,255,255,0.7);
}

#animations {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: rgba(253, 109, 109, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: rgba(253, 109, 109, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2000%;
  font-weight: bolder;
  /* visibility: hidden; */
  opacity: 0;
}

.isVisible {
  /* visibility: visible; */
  opacity: 1;
  transition: opacity 100ms linear;
}

.notVisible {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 400ms 100ms linear;
}

/* .inFlow {
  display: inline;
}

.outOfFlow {
  display: none;
} */